# Files
/logs/*.log
diagrams/*.svg
diagrams/*.pdf
.coverage
.DS_Store
*.ui
*.bat
debug.txt
poetry.lock

# Tests
tests/__pycache__
tests/*/__pycache__/

# Folders
*__pycache__/
/build/
/dist/
.env
temp/
/notebooks
/logs/*
/src/joystick_diagrams/logs*
*.egg-info/
htmlcov
.mypy*
.pytest*

# IDE
*.code-workspace
.vscode/

# Development
play*.py
venv/
0.12.0.dev0

venv/
0.12.0.dev0

# Ignore dynaconf secret files
.secrets.*
